@font-face {
  font-family: "gv-reg";
  src: url(../fonts/GreatVibes-Regular.ttf);
}
@font-face {
  font-family: "poppins-light";
  src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: "bebas-nue";
  src: url(../fonts/BebasNeue-Regular.ttf);
}
@import "./_media";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input {
  margin: 0;
}
html,
body {
  font-size: 62.4% !important;
  font-family: "poppins-light";
  overflow-x: hidden;
  scroll-behavior: smooth;
  &::selection {
    background-color: black;
    color: white;
  }
  &::-webkit-scrollbar {
    background-color: white;
    width: 0.825rem;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(48, 48, 48);
    border: 0.225rem solid white;
    border-radius: 0.3125rem;
    outline: none;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  .h-block-one {
    a {
      img {
        height: 5rem !important;
        width: 20rem !important;
      }
    }
  }
  .h-block-two {
    ul {
      display: flex;
      gap: 3rem;
      li {
        font-size: 2rem;
        color: black;
        transition: all 0.3s linear;
        cursor: pointer;
        &:after {
          content: "";
          display: block;
          height: 0.1rem;
          width: 0;
          background-color: gray;
          transition: all 0.3s linear;
        }
        &:hover {
          color: gray;
          &:after {
            width: 100%;
            background-color: gray;
          }
        }
      }
    }
  }
}

footer {
  margin-top: 2rem;
  background-color: black;
  padding-top: 4rem;
  position: relative;
  padding-bottom: 5rem;
  .footer-line {
    position: absolute;
    left: 50%;
    width: 0;
    border: 1px solid transparent;
    transition: all 1.5s ease;
    &.visible {
      width: 100%;
      left: 0;
      border-color: white;
    }
  }
  .footer-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
    padding-top: 2rem;
    .footer-img {
      .footer-logo {
        text-align: center;
        img {
          width: fit-content;
          height: 10rem;
        }
      }
      .footer-tagline{
        font-size: 2.2rem;
        color: white;
        font-family: "bebas-nue";
      }
    }
    .footer-info {
      width: 30rem;
      .footer-address {
        font-size: 1.4rem;
        color: white;
        padding-bottom: 1rem;
      }
      .social-icons {
        display: flex;
        align-items: center;
        gap: 2rem;
        a {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.5rem;
          border-radius: 50%;
          background-color: white;
          transition: all 0.5s ease;
          svg {
            height: 1.5rem;
            width: 1.5rem;
            fill: black;
            transition: all 0.5s ease;
          }
          &:hover {
            &.whatsapp-logo {
              background-color: #34af23;
              svg {
                fill: white;
              }
            }
            &.facebook-logo {
              background-color: #4267b2;
              svg {
                fill: white;
              }
            }
            &.instagram-logo {
              background: linear-gradient(
                45deg,
                #f09433,
                #e6683c,
                #dc2743,
                #cc2366,
                #bc1888
              );
              svg {
                fill: white;
              }
            }
            &.email-logo {
              background-color: red;
              svg {
                fill: white;
              }
            }
          }
        }
      }
      .copyright {
        font-size: 1.4rem;
        color: white;
        padding-top: 1rem;
      }
    }
  }
}

.about-us-section {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-in-out;
  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
  .progress-slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    .slide-container {
      display: flex;
      transition: transform 0.5s ease;
      height: 100%;
      .slide {
        flex: 0 0 100%;
        display: flex;
        width: 100%;
        .slideBody {
          width: 100%;
          height: 100%;
          background-image: url("../img/trending1.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          position: relative;
          &.SlideOne {
            background-image: url("../img/trending1.jpg");
          }
          &.SlideTwo {
            background-image: url("../img/trending2.jpg");
          }
          &.SlideThree {
            background-image: url("../img/trending3.jpg");
          }
          &.SlideFour {
            background-image: url("../img/trending4.jpg");
          }
          .slideContent {
            position: absolute;
            bottom: 2rem;
            padding: 2rem;
            .slideTitle,
            .slideTagLine {
              font-size: 5.5rem;
              margin: 0;
              color: white;
              padding-bottom: 0.5rem;
              font-family: "poppins-light";
            }
            .slideDescription {
              line-height: 1;
              font-size: 6.5rem;
              font-weight: 700;
              margin: 0;
              padding-bottom: 0.5rem;
              color: white;
              font-family: "poppins-light";
            }
          }
        }
      }
    }
    .progress-btns {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      display: flex;
      .slide-button {
        .progress-bar {
          height: 0.3rem;
          width: 5rem;
          border-radius: 2rem;
          background-color: #363a45;
          margin: 1rem;
          cursor: pointer;
          .progress {
            height: 100%;
            background-color: white;
          }
        }
      }
    }
  }
}

.our-websites-section {
  padding-top: 2rem;
  .section-title {
    text-align: center;
    font-size: 6rem;
    border-bottom: 1px solid black;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-in-out;
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .our-websites-wrap {
    display: flex;
    align-items: center;
    gap: 2rem;
    .bullrider {
      padding: 1rem;
      position: relative;
      margin: 3rem 0;
      height: 30rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 1s ease;
      transform: translateX(-100%);
      transition: transform 1s ease;
      opacity: 0;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/bullriderlogo.png"); /* Replace with your image path */
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 30rem;
        width: 100%;
        filter: blur(0);
        transition: all 1s ease;
      }
      &.visible {
        transform: translateX(0);
        opacity: 1;
      }
      .bullrider-desc {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 1s ease;
        opacity: 0;
        h2 {
          font-size: 4rem;
          text-align: center;
        }
        p {
          padding: 1rem;
          font-size: 2rem;
          text-align: center;
        }
        a {
          padding: 0 3rem;
          font-size: 2rem;
          color: black;
          border: 2px solid black;
          border-radius: 2rem;
          transition: all 0.5s ease;
          text-decoration: none;
          &:hover {
            color: white;
            background-color: black;
          }
        }
      }
      &:hover {
        &::before {
          filter: blur(10px);
        }
        .bullrider-desc {
          opacity: 1;
          filter: none;
          z-index: 99;
        }
      }
    }
    .ag {
      padding: 1rem;
      position: relative;
      margin: 3rem 0;
      height: 30rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 1s ease;
      transform: translateX(100%);
      transition: transform 1s ease;
      opacity: 0;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/bullriderlogo.png"); /* Replace with your image path */
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 30rem;
        width: 100%;
        filter: blur(0);
        transition: all 1s ease;
      }
      &.visible {
        transform: translateX(0);
        opacity: 1;
      }
      .ag-desc {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 1s ease;
        opacity: 0;
        h2 {
          font-size: 4rem;
          text-align: center;
        }
        p {
          padding: 1rem;
          font-size: 2rem;
          text-align: center;
        }
        a {
          padding: 0 3rem;
          font-size: 2rem;
          color: black;
          border: 2px solid black;
          border-radius: 2rem;
          transition: all 0.5s ease;
          text-decoration: none;
          &:hover {
            color: white;
            background-color: black;
          }
        }
      }
      &:hover {
        &::before {
          filter: blur(10px);
        }
        .ag-desc {
          opacity: 1;
          filter: none;
          z-index: 99;
        }
      }
    }
  }
}

.home-blogs-section {
  padding-top: 2rem;
  .section-title {
    text-align: center;
    font-size: 6rem;
    border-bottom: 1px solid black;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-in-out;
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .home-blogs {
    display: flex;
    flex-wrap: wrap;
    .blog-card {
      flex: 0 0 auto;
      width: 33.33333333%;
      padding: 1rem;
      opacity: 0;
      transform: translateY(20px);
      transition: all 1s ease-in-out;
      &.visible {
        transition: all 1s ease-in-out;
        opacity: 1;
        transform: translateY(0);
      }
      .blog-image {
        background-image: url("../img/trending1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 250px;
        position: relative;
        transition: all 0.3s ease;
        cursor: pointer;
        button {
          opacity: 0;
          transition: all 0.3s ease;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border: 2px solid white;
          padding: 1rem 2rem;
          font-size: 2rem;
          background: transparent;
          color: white;
          &:hover {
            background-color: white;
            color: black;
          }
        }
        &:hover {
          transform: scale(1.1);
          button {
            opacity: 1;
          }
        }
      }
      h3 {
        font-size: 4rem;
        font-weight: 500;
        color: black;
        text-align: center;
      }
    }
  }
  .blogs-redirect {
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-in-out;
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
    a {
      font-size: 4rem;
      text-decoration: none;
      color: black;
      text-align: center;
      display: block;
      margin: 0 auto;
      width: fit-content;
      &::after {
        display: block;
        content: "";
        height: 1px;
        background-color: black;
        width: 0;
        transition: all 0.3s ease;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}

.home-catalogue-section {
  padding-top: 2rem;
  .section-title {
    text-align: center;
    font-size: 6rem;
    border-bottom: 1px solid black;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-in-out;
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .home-catalogue {
    display: flex;
    flex-wrap: wrap;
    .catalogue-card {
      flex: 0 0 auto;
      width: 33.33333333%;
      padding: 1rem;
      opacity: 0;
      transform: translateY(20px);
      transition: all 1s ease-in-out;
      &.visible {
        transition: all 1s ease-in-out;
        opacity: 1;
        transform: translateY(0);
      }
      h3 {
        font-size: 4rem;
        font-weight: 500;
        color: black;
        text-align: center;
      }
    }
  }
  .catalogue-redirect {
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-in-out;
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
    a {
      font-size: 4rem;
      text-decoration: none;
      color: black;
      text-align: center;
      display: block;
      margin: 0 auto;
      width: fit-content;
      &::after {
        display: block;
        content: "";
        height: 1px;
        background-color: black;
        width: 0;
        transition: all 0.3s ease;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
